_build
_opam
docs
perk.opam

perf.*
*.perf

test/**/*.out
test/**/*.ast
test/**/*.c
test/**/*.h

tools/vscode-extensions/perk-vscode-lsp/node_modules
tools/vscode-extensions/perk-vscode-lsp/out
node_modules
.vscode/settings.json
tools/vscode-extensions/perk-syntax/package-lock.json
tools/vscode-extensions/perk-vscode-lsp/package-lock.json
